.whyus{
    background:hsl(220, 16%, 96%);
    display: flex;
    justify-content: center;
    &__container{
        width: 80%;
        max-width: 1200px;
        margin-top: 50px;

    }

    &__text{
        width: 50%;
        padding: 40px 60px;

        &-title h4{
            font-weight: 700;
        }
    }

    &__reasons{
        padding: 40px;
        display: flex;
        justify-content: space-between;
        margin-top: 40px;
        &-each {
            padding: 20px;

            &-paragraph{
                width: 80%;
                text-align: justify;
            }
        }
    }
}

@media only screen and (max-width: 1200px){
    .whyus{
        display: flex;
        justify-content: center;
        &__container{
            max-width: 1200px;
            margin-top: 0px;
    
        }

        
        &__text{
            width: 70%;
        }
    }
}

@media only screen and (max-width: 900px){
    .whyus{

        &__container{
            width: 90%;
            margin-top: 0px;
        }
        
        &__text{
            width: 100%;
        }
    }
}

@media only screen and (max-width: 800px){
    .whyus{

        &__reasons{
            display: flex;
            flex-direction: column;
            &-each {
                text-align: center;
                padding: 20px;
    
                &-paragraph{
                    width: 100%;
                    text-align: center;
                }
            }
        }
    }
}