* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box; }

body {
  font-family: 'Nunito Sans', sans-serif;
  width: 100%;
  height: 100%; }

p, h1, h2, h3 {
  margin: 0; }

header {
  background: #DEE5E5;
  position: relative;
  z-index: 3; }
  header .container {
    width: 80%;
    max-width: 1200px;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between; }
    header .container a {
      display: inline-block;
      margin: 0 20px;
      text-decoration: none;
      border-bottom: 2px solid transparent;
      color: #082D0f;
      transition: all ease .2s;
      font-weight: 700; }
      header .container a:hover {
        border-bottom: 2px solid #082D0F; }

.header__login-btn {
  padding: 5px;
  border-radius: 10px;
  border: 1px solid #082D0f;
  background: #DEE5E5; }
  .header__login-btn:hover {
    color: #DEE5E5;
    background: linear-gradient(to right, #136a8a, #267871); }

.header__logout-btn {
  padding: 5px;
  border-radius: 10px;
  border: 1px solid #082D0f;
  background: #DEE5E5; }
  .header__logout-btn:hover {
    background: #EB4644;
    color: #fff; }

@media only screen and (max-width: 900px) {
  .container {
    width: 90%;
    display: flex;
    flex-direction: column; } }

@media only screen and (max-width: 500px) {
  .container {
    width: 1000%;
    display: flex;
    flex-direction: column; }
    .container a {
      font-size: 12px; }
  .header__nav {
    display: flex;
    align-items: center;
    width: 100%; }
  .header__login-btn {
    font-size: 12px; }
  .header__logout-btn {
    font-size: 12px; } }

.introduction {
  background: #fafafa;
  display: flex;
  justify-content: center; }
  .introduction__container {
    width: 80%;
    max-width: 1200px;
    display: flex;
    justify-content: center; }
  .introduction__text {
    width: 50%;
    padding: 100px 40px; }
    .introduction__text-title h3 {
      font-weight: 700; }
    .introduction__text-btn button {
      margin-top: 20px;
      padding: 10px;
      border-radius: 10px;
      border: 1px solid #082D0f;
      background: transparent; }
      .introduction__text-btn button:hover {
        color: #fff;
        background: linear-gradient(to right, #136a8a, #267871); }
  .introduction__image {
    width: 50%;
    position: relative; }
    .introduction__image img {
      width: 100%;
      position: absolute;
      top: -100px;
      z-index: 1; }

@media only screen and (max-width: 900px) {
  .introduction__container {
    width: 90%; }
  .introduction__text {
    width: 100%; }
  .introduction__image {
    display: none; } }

@media only screen and (max-width: 700px) {
  .container {
    width: 90%;
    display: flex;
    flex-direction: column; } }

.whyus {
  background: #f3f4f6;
  display: flex;
  justify-content: center; }
  .whyus__container {
    width: 80%;
    max-width: 1200px;
    margin-top: 50px; }
  .whyus__text {
    width: 50%;
    padding: 40px 60px; }
    .whyus__text-title h4 {
      font-weight: 700; }
  .whyus__reasons {
    padding: 40px;
    display: flex;
    justify-content: space-between;
    margin-top: 40px; }
    .whyus__reasons-each {
      padding: 20px; }
      .whyus__reasons-each-paragraph {
        width: 80%;
        text-align: justify; }

@media only screen and (max-width: 1200px) {
  .whyus {
    display: flex;
    justify-content: center; }
    .whyus__container {
      max-width: 1200px;
      margin-top: 0px; }
    .whyus__text {
      width: 70%; } }

@media only screen and (max-width: 900px) {
  .whyus__container {
    width: 90%;
    margin-top: 0px; }
  .whyus__text {
    width: 100%; } }

@media only screen and (max-width: 800px) {
  .whyus__reasons {
    display: flex;
    flex-direction: column; }
    .whyus__reasons-each {
      text-align: center;
      padding: 20px; }
      .whyus__reasons-each-paragraph {
        width: 100%;
        text-align: center; } }

.articles {
  background: #fafafa;
  display: flex;
  justify-content: center; }
  .articles__container {
    width: 80%;
    max-width: 1200px; }
  .articles__title {
    padding: 20px 60px; }
    .articles__title h4 {
      font-weight: 700; }
  .articles__latest {
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    margin-bottom: 50px; }
    .articles__latest figure {
      margin-bottom: 0; }
    .articles__latest-each {
      width: 30%; }
    .articles__latest-img {
      width: 30%;
      margin-left: 10px; }
      .articles__latest-img figure {
        margin-bottom: 0px; }
      .articles__latest-img img {
        width: 100%;
        height: 50%; }
    .articles__latest-text {
      width: 85%;
      padding: 0 10px 20px 0;
      margin: 10px 0px;
      text-align: justify; }

@media only screen and (max-width: 900px) {
  .articles__container {
    width: 90%; } }

@media only screen and (max-width: 750px) {
  .articles__latest {
    display: flex;
    flex-direction: column;
    align-items: center; }
    .articles__latest-each {
      width: 70%; }
    .articles__latest-text {
      width: 100%; } }

footer {
  background: #2d314d;
  color: #fff;
  display: flex;
  justify-content: center; }

.footer__container {
  width: 80%;
  max-width: 1200px;
  display: flex;
  justify-content: space-around; }

.footer__logo {
  padding: 40px; }

.footer__author {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }

@media only screen and (max-width: 900px) {
  .footer__logo {
    display: none; }
  .footer__author {
    padding: 40px 0; } }

.banks {
  display: flex;
  justify-content: center;
  background: #f2f2f2; }
  .banks__container {
    width: 80%;
    max-width: 1200px; }
  .banks__cards-container {
    display: flex;
    flex-wrap: wrap;
    padding: 20px; }
  .banks__cards-each {
    width: 45%;
    margin: 20px;
    border-radius: 10px; }
    .banks__cards-each img {
      border-radius: 10px 10px 0px 0px;
      width: 100%; }
    .banks__cards-each h5 {
      font-weight: 700;
      transition: all ease .2s; }
      .banks__cards-each h5:hover {
        text-shadow: .5px .5px 1px #000; }
    .banks__cards-each p {
      margin-bottom: 20px; }
    .banks__cards-each a {
      display: inline-block;
      margin: 0 auto;
      text-decoration: none;
      border-bottom: 2px solid transparent;
      color: #082D0f;
      transition: all ease .2s;
      font-weight: 700; }
      .banks__cards-each a:hover {
        border-bottom: 2px solid #082D0F; }

@media only screen and (max-width: 1050px) {
  .banks__cards-container {
    display: flex;
    justify-content: center;
    padding: 20px; } }

@media only screen and (max-width: 700px) {
  .banks__container {
    width: 90%; }
  .banks__cards-each {
    width: 50%; } }

.branches {
  background: #fafafa;
  display: flex;
  justify-content: center; }
  .branches__container {
    padding: 40px;
    width: 80%;
    max-width: 1200px; }
  .branches__no-branch {
    display: flex;
    flex-direction: column;
    align-items: center; }
    .branches__no-branch h2 {
      display: inline-block;
      padding: 40px;
      text-align: center; }
    .branches__no-branch img {
      padding: 20px 0px;
      width: 30%;
      margin-bottom: 50px; }
  .branches__cards-container {
    display: flex;
    flex-direction: column;
    align-items: center; }
    .branches__cards-container-each {
      width: 90%;
      border-radius: 10px;
      margin: 10px 0; }
      .branches__cards-container-each img {
        border-radius: 10px 10px 0px 0px; }

@media only screen and (max-width: 700px) {
  .branches__container {
    width: 100%; } }

.employees-table {
  background: #f3f4f6;
  display: flex;
  justify-content: center; }
  .employees-table__container {
    width: 80%;
    max-width: 1200px;
    padding: 20px;
    margin: 50px 0px 120px 0px; }
  .employees-table__options {
    padding: 20px; }
    .employees-table__options input[type=radio] {
      display: inline-block;
      margin-left: 50px; }
  .employees-table h2 {
    margin-bottom: 20px; }

@media only screen and (max-width: 900px) {
  .employees-table__container {
    width: 90%; } }

@media only screen and (max-width: 600px) {
  .employees-table__middle-name {
    display: none; } }
